.not-found {
  margin-top: 15.7rem;
  margin-bottom: 8.5rem;

  h3,
  a {
    font-family: DMSans-Medium;
  }
  h1 {
    font-size: 150px;
    margin-bottom: 3.6rem;
    color: #a7e1d5;
  }

  h3 {
    margin-bottom: 1.1rem;
  }

  p {
    margin-bottom: 3rem;
  }

  a {
    padding: 1.1rem 3.7rem;
  }
}
